@font-face {
  font-family: 'iconfont';  /* project id 1485682 */
  src: url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.eot');
  src: url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1485682_ed2jpvq5jj6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti35:before {
  content: "\e635";
}

.icon-wuxing:before {
  content: "\e668";
}

.icon-zan1:before {
  content: "\e6b3";
}

.icon-zan4:before {
  content: "\e6b7";
}

.icon-xiaoxi:before {
  content: "\e617";
}

.icon-up:before {
  content: "\e7f8";
}

.icon-bofang:before {
  content: "\e8a3";
}

.icon-pinglun1:before {
  content: "\e6d7";
}

.icon-bofang1:before {
  content: "\e70a";
}

.icon-xiazai:before {
  content: "\e622";
}

.icon-jinbishangcheng:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e665";
}

.icon-arrow-:before {
  content: "\e626";
}

.icon-caidan:before {
  content: "\e67a";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-jia:before {
  content: "\e620";
}
